body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

form {
    margin: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.add-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.add-button:hover {
    background-color: #45a049;
}

.back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #4CAF50;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}